/* Reset - Fjerner standard marginer, padding og sikrer, at elementernes bredde beregnes inklusiv padding og border */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generel styling */
  body {
    height: 100%; /* Fylder hele skærmen */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /* Sørg for at hele skærmen fyldes */
    overflow-x: hidden; /* Fjerner horisontal scroll */
    overflow-y: auto; /* Tillader lodret scroll, hvis nødvendigt */
  }
  
  /* Brødkrummesti */
  .breadcrumb {
    padding-top: 110px;
    font-size: 13px;
    text-align: left;
  }
  
  .breadcrumb a {
    color: #333;
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb span {
    color: #d83d53;
  }
  
  /* Sikrer, at elementet fylder hele skærmen */
  main {
  background-color: #a8d4ff;
  width: 100%;
  height: 200vh; /* 200vh = 1600px */
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  }

  .main h2 {
    color: #333;
  }

  .main p {
    color: #333;
  }
  
  .midt_h1 {
    color: #333;
    padding: 20px;
    width: 500px;
    height: 100px;
    border-radius: 8px;
    position: relative;
    margin-top: 100px;
    margin-left: 700px;
  }
  
  .pictures_1 {
    width: 600px;
    height: 400px;
    border-radius: 8px;
    position: relative;
    margin-top: -400px;
    margin-left: 1100px;
  }


  .opening-hours {
    padding-left: 100px;
    width: 600px;
    height: 400px;
    border-radius: 8px;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
  }

  .opening-hours li {
    color: #333;
  }



  .right-image {
    width: 320px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    position: relative;
    top: 150px;
    left: 1660px;
  }

  .image_4_img_l {
    width: 473px;
    height: 200px;
    position: relative;
    top: 310px;
    left: 1410px;
  }


/* Gul section */
section {
  background-color: #F5DC71;
  width: 100%;
  height: 100vh;
  border-radius: 8px;
}
.pictures_2 {
  width: 417px;
  height: 556px;
  border-radius: 8px;
  margin-top: 100px;
}


.til_fra {
  color: #333;
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 8px;
  margin-top: -560px;
  margin-left: 600px;
}

.til_fra li {
  color: #333;
}


.besoeg {
  color: #333;
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 1200px;
}

.besoeg{
  color: #333;
}